# Go build output
bin/
tmp/

# Other outputs
dist/
node_modules/

# Go test cache
go-test-cache/

# Go land
*.test
*.out
coverage.*
*.coverprofile
profile.cov

# OS-specific
.DS_Store
Thumbs.db

# Editor/IDE
#.idea/
#.vscode/
*.swp
*.swo
*~

# env file
.env

# Go workspace file
go.work
go.work.sum

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
